@charset "UTF-8";
.container {
  /* max-width: 1440px;       /* 원하는 전체 넓이 제한 */ */
  margin: 0 auto;
  padding: 0 200px ;  /* ← 좌우 여백 */
  width: 100%;
}

@media (max-width: 1800px) {
  .container {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0;
  }
}

  .mypage--layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
   max-width: 100vw;
   overflow: hidden;
  }

  .sidebar {
    width: 305px;
    flex-shrink: 0;
  }

  .screen{
    flex-grow: 1;
      min-width: 0; /* ✅ flex item 내부 콘텐츠가 넘치지 않도록 */
  }