.div, .div * {
	box-sizing: border-box;
}

.div {
	background: #ffffff;
	height: 2040px;
	position: relative;
	overflow: hidden;
}

.mentos-make-page {
	display: flex;
	flex-direction: column;
	gap: 90px;
	align-items: center;
	justify-content: flex-start;
	width: 1440px;
	height: 1890px;
	position: absolute;
	left: 10px;
	top: 15px;
}

.mentos-write-body {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	width: 1140px;
	position: relative;
}

.mentos-page-text {
	color: #000000;
	text-align: left;
	font-family: "Inter-SemiBold", sans-serif;
	font-size: 32px;
	font-weight: 600;
	position: relative;
	align-self: stretch;
}

.mentos-page-form {
	border-style: solid;
	border-color: #016bc7;
	border-width: 3px 0px 0px 0px;
	padding: 20px 15px 20px 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
}

.mentos-make-top-section {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: flex-start;
	justify-content: center;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
}

.mentos-make-input {
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: relative;
}

.mentos-make-name {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: relative;
}
.editable-title {
	min-height: 40px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	box-sizing: border-box;
	outline: none;
	position: relative;
	width: 800px;
}

.editable-title:empty::before {
	content: attr(data-placeholder);
	color: #999;
}
.title {
	color: #414656;
	text-align: left;
	font-family: "Inter-Regular", sans-serif;
	font-size: 14px;
	font-weight: 400;
	position: relative;
}

.mentos-name-input {
	border-radius: 10px;
	border-style: solid;
	border-color: #a6abbd;
	border-width: 1px;
	flex-shrink: 0;
	width: 800px;
	height: 50px;
	position: relative;
	overflow: hidden;
}

.detail {
	color: #dadada;
	text-align: left;
	font-family: "Inter-Regular", sans-serif;
	font-size: 13px;
	font-weight: 400;
	position: absolute;
	left: 20px;
	top: calc(50% - 10px);
}

.mentos-make-location {
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
}

.mentos-make-city {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: flex-start;
	justify-content: flex-start;
	flex: 1;
	position: relative;
}

.mentos-make-city-input {
	border-radius: 10px;
	border-style: solid;
	border-color: #a6abbd;
	border-width: 1px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
}

.mentos-make-city-value {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-shrink: 0;
	width: 98px;
	position: relative;
}

.mentos-make-region {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: flex-start;
	justify-content: flex-start;
	flex: 1;
	position: relative;
}

.mentos-make-region-input {
	border-radius: 10px;
	border-style: solid;
	border-color: #a6abbd;
	border-width: 1px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
}

.icon-time {
	flex-shrink: 0;
	width: 19px;
	height: 19px;
	position: relative;
	overflow: hidden;
}

.icon-time-calendar {
	height: auto;
	position: absolute;
	left: 1.58px;
	top: 0.79px;
	overflow: visible;
}

.logo-upload {
	display: flex;
	flex-direction: column;
	gap: 0.63vw;
	align-items: center;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
}

.mentos-logo-drag-upload {
	display: flex;
	flex-direction: column;
	gap: 0.35vw;
	align-items: flex-start;
	justify-content: flex-start;
	flex: 1;
	position: relative;
}

.mentos-logo-drag-section {
	border-radius: 1.39vw;
	border-style: dashed;
	border-color: #000000;
	border-width: 0.07vw;
	padding: 3.82vw 5.21vw;
	display: flex;
	flex-direction: row;
	gap: 0.69vw;
	align-items: center;
	justify-content: center;
	flex: 1;
	width: 17vw;
	position: relative;
	overflow: hidden;
}

.drag-logo-info {
	display: flex;
	flex-direction: column;
	gap: 0.28vw;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 10.42vw;
	position: relative;
}

.iconly-light-outline-paper-upload {
	align-self: stretch;
	flex-shrink: 0;
	height: 10.42vw;
	position: relative;
	aspect-ratio: 1;
}

.iconly-light-outline-paper-upload2 {
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0%;
	left: 0%;
	bottom: 0%;
	top: 0%;
}

.paper-upload {
	height: auto;
	position: absolute;
	left: 1.3vw;
	top: 0.87vw;
	overflow: visible;
}

.d-2-r-14-black {
	color: #000000;
	text-align: center;
	font-family: "Inter-Regular", sans-serif;
	font-size: 0.97vw;
	font-weight: 400;
	position: relative;
	align-self: stretch;
}

.mentos-logo-file-upload {
	border-radius: 0.14vw;
	border-style: solid;
	border-color: #e0e0e0;
	border-width: 0.07vw;
	flex-shrink: 0;
	width: 17vw;
	height: 2.08vw;
	position: relative;
	overflow: hidden;
}

.logo-file-select-btn {
	background: #0069f8;
	border-radius: 0.14vw;
	border-style: solid;
	border-color: #0069f8;
	border-width: 0.07vw;
	width: 6.94vw;
	height: 2.08vw;
	position: absolute;
	left: 0vw;
	top: 0vw;
	overflow: hidden;
}

.file-select {
	color: #ffffff;
	text-align: left;
	font-family: "Inter-Regular", sans-serif;
	font-size: 0.83vw;
	font-weight: 400;
	position: absolute;
	left: calc(50% - 1.6vw);
	top: 50%;
	translate: 0 -50%;
}

.logo-file-value {
	color: #747480;
	text-align: left;
	font-family: "Inter-Regular", sans-serif;
	font-size: 0.83vw;
	font-weight: 400;
	position: absolute;
	left: calc(50% - 0.7vw);
	top: 50%;
	translate: 0 -50%;
}

.frame-3491 {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
}

.frame-3497 {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
	justify-content: flex-start;
	flex-shrink: 0;
	position: relative;
}

.div5 {
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
	justify-content: center;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
}

.frame-3477 {
	border-radius: 30px;
	border-style: solid;
	border-color: #7d7f8d;
	border-width: 1px;
	padding: 14px 18px 14px 18px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	flex: 1;
	position: relative;
	overflow: hidden;
}

.div6 {
	color: #7d7f8d;
	text-align: left;
	font-family: "D2Coding-Regular", sans-serif;
	font-size: 15px;
	line-height: 120%;
	font-weight: 400;
	position: relative;
}

.frame-3515 {
	padding: 10px 0px 10px 0px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
	justify-content: center;
	align-self: stretch;
	flex-shrink: 0;
	height: 83px;
	position: relative;
	overflow: hidden;
}

.mentos-make-category {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;
	flex: 1;
	position: relative;
}

.frame-3506 {
	border-radius: 10px;
	border-style: solid;
	border-color: #a6abbd;
	border-width: 1px;
	padding: 12px 10px 12px 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
}

.frame-35152 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
}

.vector {
	flex-shrink: 0;
	width: 15.62px;
	height: 7px;
	position: relative;
	overflow: visible;
	aspect-ratio: 15.62/7;
}

.keepgoing-make-price {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;
	flex: 1;
	position: relative;
}

.frame-3504 {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
}

.frame-3503 {
	border-radius: 10px;
	border-style: solid;
	border-color: #a6abbd;
	border-width: 1px;
	padding: 15px 20px 15px 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
}

.frame {
	flex-shrink: 0;
	width: 30px;
	height: 30px;
	position: relative;
	overflow: visible;
	aspect-ratio: 1;
}

.frame-3505 {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	height: 271px;
	position: relative;
}

.input {
	border-radius: 10px;
	border-style: solid;
	border-color: #a6abbd;
	border-width: 1px;
	padding: 15px 20px 15px 20px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	height: 234px;
	position: relative;
	overflow: hidden;
}

.frame-3514 {
	padding: 10px 0px 10px 0px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
	justify-content: center;
	align-self: stretch;
	flex-shrink: 0;
	height: 83px;
	position: relative;
	overflow: hidden;
}

.rectangle-294 {
	position: absolute;
	z-index: 1000; /* 무조건 앞에 오도록 */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #ffffff;
	border-radius: 12px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
	width: 90vw;
	max-width: 420px;
	padding: 32px 24px;
}

/* 버튼 박스 */
.confirm-btn-box {
	display: flex;
	justify-content: center;
	margin-top: 24px;

	color: #fff;
	font-family: "D2Coding-Bold", sans-serif;
	font-size: 1.5vw;
	font-weight: 600;
	border: none;
	border-radius: 0.8vw;
	padding: 1.2vh 5vw;
	cursor: pointer;
	transition: background 0.15s;
}
/* 팝업 트리거 체크박스 숨김 */
#cancelPopup, #submitPopup {
	display: none;
}

/* 공통 팝업 배경 */
.popup-layer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.4);
	z-index: 999;
	justify-content: center;
	align-items: center;
}

/* 팝업 내용 박스 */
.popup-content {
	width: 300px;
	background: #fff;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 12px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	text-align: center;
}

/* 팝업 이모지 */
.popup-content .emoji {
	font-size: 48px;
	margin-bottom: 12px;
}

/* 팝업 제목 */
.popup-content .popup-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
}

/* 팝업 설명 */
.popup-content .popup-desc {
	font-size: 14px;
	color: #555;
	line-height: 1.6;
}

/* 확인 버튼 */
.confirm-btn {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	background: #0069f8;
	color: white;
	border-radius: 6px;
	font-weight: 600;
	cursor: pointer;
}

/* 각각 팝업 조건일 때 보여줌 */
#cancelPopup:checked ~ #cancelLayer, #submitPopup:checked ~ #submitLayer
	{
	display: flex;
}
/* 팝업 박스 */
#popup {
	background: #fff;
	padding: 20px;
	width: 90vw;
	max-width: 400px;
	border-radius: 12px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mentos-make-buttons {
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
	width: 100%;
}

.mentos-leader-cancel-btn {
	background: #a6abbd;
	border-radius: 10px;
	padding: 42px 46px 42px 46px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
	height: 60px;
	position: relative;
	overflow: hidden;
	width: 100%
}
.frame-3783 {
	display: flex;
	flex-direction: column;
	gap: 0px;
	align-items: center;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
}
.d-2-r-18-blue {
	color: #ffffff;
	text-align: left;
	font-family: "Inter-Bold", sans-serif;
	font-size: 20px;
	font-weight: 700;
	position: relative;
}

.mentos-leader-make-btn {
	background: #0069f8;
	border-radius: 10px;
	padding: 42px 46px 42px 46px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
	height: 60px;
	position: relative;
	overflow: hidden;
	width: 100%
}

.d-2-r-18-white {
	color: #ffffff;
	text-align: left;
	font-family: "Inter-Bold", sans-serif;
	font-size: 20px;
	font-weight: 700;
	position: relative;
}

.min-member-box {
	background: #ffffff;
	border-radius: 10px;
	border-style: solid;
	border-color: #a6abbd;
	border-width: 1px;
	padding: 11px 107px 11px 107px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 257px;
	height: 52px;
	position: relative;
}
.max-member-box {
	background: #ffffff;
	border-radius: 10px;
	border-style: solid;
	border-color: #a6abbd;
	border-width: 1px;
	padding: 11px 107px 11px 107px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 257px;
	height: 52px;
	position: relative;
}

.number-input {
	width: 80px;
	padding-right: 24px;
	font-size: 16px;
	font-family: "Inter-Medium", sans-serif;
	border: none;
	outline: none;
	background: transparent;
	text-align: right;
}
.start-date-box {
	background: #ffffff;
	border-radius: 10px;
	border-style: solid;
	border-color: #a6abbd;
	border-width: 1px;
	padding: 11px 21px 11px 21px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 257px;
	height: 52px;
	position: relative;
}
.end-date-box {
	background: #ffffff;
	border-radius: 10px;
	border-style: solid;
	border-color: #a6abbd;
	border-width: 1px;
	padding: 11px 21px 11px 21px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 257px;
	height: 52px;
	position: relative;
}
.date-input {
	border: none;
	background: transparent;
	font-size: 16px;
	font-family: "Inter-Medium", sans-serif;
	color: #333;
	outline: none;
	cursor: pointer;
}
.start-time-box {
	background: #ffffff;
	border-radius: 10px;
	border-style: solid;
	border-color: #a6abbd;
	border-width: 1px;
	padding: 11px 101px 11px 101px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 257px;
	height: 52px;
	position: relative;
}
.end-time-box {
	background: #ffffff;
	border-radius: 10px;
	border-style: solid;
	border-color: #a6abbd;
	border-width: 1px;
	padding: 11px 100px 11px 100px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 257px;
	height: 52px;
	position: relative;
}
.time-input {
	border: none;
	font-size: 16px;
	font-family: "Inter-Medium", sans-serif;
	background: transparent;
	color: #333;
	outline: none;
	cursor: pointer;
}
.address-area {
	display: flex;
	flex-direction: column;
	gap: 9px;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
}

.postal-code-area {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.postal-code {
	flex: 2;
	min-width: 0;
	height: 55px;
	padding: 12px 21px;
	background: #ffffff;
	border: 1px solid #a6abbd;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.div4 {
	color: #dadada;
	text-align: left;
	font-family: "Inter-Medium", sans-serif;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: -0.011000000000000001em;
	font-weight: 500;
	position: relative;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.postal-code-btn {
	flex: 1;
	min-width: 0;
	height: 55px;
	padding: 12px 0;
	background: #0070d1;
	border: 1px solid #a6abbd;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.postal-code-btn:hover {
	background-color: #005cae; /* 살짝 더 진한 파란색 */
}

.div5 {
	color: #dadada;
	text-align: center;
	font-family: "Inter-Medium", sans-serif;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: -0.011000000000000001em;
	font-weight: 500;
	position: relative;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.road-name-address {
	background: #ffffff;
	border-radius: 10px;
	border-style: solid;
	border-color: #a6abbd;
	border-width: 1px;
	padding: 12px 21px 12px 21px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
}

.street-number-address {
	background: #ffffff;
	border-radius: 10px;
	border-style: solid;
	border-color: #a6abbd;
	border-width: 1px;
	padding: 12px 21px 12px 21px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
}

.detail-address {
	background: #ffffff;
	border-radius: 10px;
	border-style: solid;
	border-color: #a6abbd;
	border-width: 1px;
	padding: 12px 21px 12px 21px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
	align-self: stretch;
	flex-shrink: 0;
	position: relative;
}

.div6 {
	color: #dadada;
	text-align: left;
	font-family: "Inter-Medium", sans-serif;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: -0.011000000000000001em;
	font-weight: 500;
	position: relative;
	flex: 1;
	height: 31.73px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.together-type-section {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
}

.dropdown-row {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
}

.dropdown-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 16px;
	background-color: #ffffff;
	border: 1px solid #dcdcdc;
	border-radius: 8px;
	min-width: 160px;
	flex: 1;
	cursor: pointer;
	position: relative; 
	
}

.dropdown-label {
	color: #666;
}

.dropdown-icon {
	width: 16px;
	height: 16px;
}
.type-dropdown {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	background: white;
	/* 이 아래 2줄은 위/아래 토글을 위해 필요! */
	bottom: 100%;
	top: auto;
	width: 100%;
	margin-top: 5px;
	z-index: 100;
	border: 1px solid #a6abbd;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	list-style: none;
	padding: 0;
}

.hidden {
  display: none !important;
}
.type-dropdown li{
	padding: 12px 16px;
	cursor: pointer;
	border-bottom: 1px solid #e0e0e0;
	font-family: "Inter-Medium", sans-serif;
	font-size: 16px;
}