<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinhan.memento.dao.MatchUpDAO">

  <select id="selectAll" resultType="com.shinhan.memento.dto.MatchupListDTO">
        SELECT 
        matchup_id AS matchupId,
        category_id AS categoryId,
        selected_days AS selectedDays,
        language_id AS languageId,
        region_group AS regionGroup,
        start_day AS startDay,
        end_day AS endDay,
        start_time AS startTime,
        end_time AS endTime,
        min_member AS minMember,
        max_member AS maxMember,
        price,
        title,
        has_mento AS hasMento
        from matchup
	  <where>
	    <if test="region_group != null and region_group != ''">
	      AND region_group = #{region_group}
	    </if>
	    <if test="category_id != null">
	      AND category_id = #{category_id}
	    </if>
	    <if test="selected_days != null and selected_days != ''">
	      AND selected_days LIKE '%' || #{selected_days} || '%'
	    </if>
	    <if test="language_id != null">
	      AND language_id = #{language_id}
	    </if>
	  </where>
	  order by start_day
	</select>

	<select id="getActiveMemberCount" parameterType="int" resultType="int">
		  select count(*)
		    from member_matchup
		   where status = 'ACTIVE'
		     and matchup_id = #{matchupId}
	</select>
	
<select id="selectByMatchupId" parameterType="int" resultType="com.shinhan.memento.dto.MatchupDetailDTO">
      select 
          matchup_id AS matchupId,
          category_id AS categoryId,
          language_id AS languageId,
          leader_id AS leaderId,
          mento_id AS mentoId,
          region_group AS regionGroup,
          region_subgroup AS regionSubgroup,
          region_detail AS regionDetail,
          start_day AS startDay,
          end_day AS endDay,
          start_time AS startTime,
          end_time AS endTime,
          count,
          max_member AS maxMember,
          price,
          content,
          title,
          match_type_first AS matchTypeFirst,
          match_type_second AS matchTypeSecond,
          match_type_third AS matchTypeThird,
          has_mento AS hasMento
        from matchup
       where matchup_id = #{matchupId}
</select>

	<select id="getCategoryName" parameterType="int" resultType="String">
	  select category_name from category where category_id = #{categoryId}
	</select>

	<select id="getLanguageName" parameterType="int" resultType="String">
	  SELECT language_name FROM language WHERE language_id = #{languageId}
	</select>
	
	<select id="getMatchTypeName" parameterType="int" resultType="String">
	  SELECT match_type_name FROM match_type WHERE match_type_id = #{matchTypeId}
	</select>

	<insert id="createMatchup" parameterType="com.shinhan.memento.dto.MatchUpDTO">
		insert into matchup (
		  matchup_id, category_id, language_id,
		  leader_id, mento_id, match_type_first,
		  match_type_second, match_type_third,
		  title, count, matchup_count, start_day,
		  end_day, start_time, end_time,
		  min_member, max_member, content,
		  has_mento, price, kg_count, region_group,
		  region_subgroup, region_detail, selected_days,
		  created_at, updated_at, status
		)
		values (
		  seq_matchup_id.nextval, 
		  #{category_id, jdbcType=INTEGER}, 
		  #{language_id, jdbcType=INTEGER}, 
		  #{leader_id, jdbcType=INTEGER}, 
		  #{mento_id, jdbcType=INTEGER}, 
		  #{match_type_first, jdbcType=INTEGER},
		  #{match_type_second, jdbcType=INTEGER}, 
		  #{match_type_third, jdbcType=INTEGER},
		  #{title, jdbcType=VARCHAR}, 
		  #{count, jdbcType=INTEGER}, 
		  #{matchup_count, jdbcType=INTEGER}, 
		  #{start_day, jdbcType=VARCHAR},
		  #{end_day, jdbcType=VARCHAR}, 
		  #{start_time, jdbcType=VARCHAR}, 
		  #{end_time, jdbcType=VARCHAR},
		  #{min_member, jdbcType=INTEGER}, 
		  #{max_member, jdbcType=INTEGER}, 
		  #{content, jdbcType=VARCHAR},
		  #{has_mento, jdbcType=VARCHAR}, 
		  #{price, jdbcType=INTEGER}, 
		  #{kg_count, jdbcType=INTEGER}, 
		  #{region_group, jdbcType=VARCHAR},
		  #{region_subgroup, jdbcType=VARCHAR}, 
		  #{region_detail, jdbcType=VARCHAR}, 
		  #{selected_days, jdbcType=VARCHAR},
		  sysdate, 
		  sysdate, 
		  #{status, jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="existsActiveApplication" parameterType="map" resultType="int">
	    SELECT COUNT(*) FROM member_matchup
	    WHERE member_id = #{memberId}
	      AND matchup_id = #{matchupId}
	      AND status = 'ACTIVE'
	</select>
	
	<insert id="insertApplication" parameterType="map">
	    INSERT INTO member_matchup (member_matchup_id, member_id, matchup_id, status, created_at, updated_at)
	    VALUES (member_matchup_seq.nextval, #{memberId}, #{matchupId}, 'ACTIVE', SYSDATE, SYSDATE)
	</insert>
	
	<update id="updateStatusToInactive" parameterType="map">
	    UPDATE member_matchup
	    SET status = 'INACTIVE', updated_at = SYSDATE
	    WHERE member_id = #{memberId} AND matchup_id = #{matchupId} AND status = 'ACTIVE'
	</update>


	<select id="findMembersByMatchupId" parameterType="int"
		resultType="com.shinhan.memento.dto.MemberDTO">
		SELECT m.*
		FROM MEMBER m
		JOIN MEMBER_MATCHUP mm ON m.MEMBER_ID = mm.MEMBER_ID
		WHERE mm.MATCHUP_ID = #{matchupId}
		AND mm.STATUS = 'ACTIVE'
	</select>
	
</mapper>
<!--  -->
