<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinhan.memento.mapper.LanguageMapper">
    <select id="findLanguageNameById" parameterType="int" resultType="String">
        SELECT language_name
        FROM language
        WHERE language_id = #{languageId}
    </select>
</mapper>
