<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.shinhan.memento.mapper.MatchTypeMapper">
 	
 	<select id="findMatchTypeById" parameterType="int" resultType="String">
 		select match_type_name
 		from match_type
 		where match_type_id=#{matchTypeId}
 	</select>
 </mapper>