<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinhan.memento.dao.MemberMatchUpDAO">
	<!-- 매치업 신청하기 -->
	<insert id="applyAsMenti" parameterType="com.shinhan.memento.dto.MatchupApplyMentiDTO"> 
		INSERT INTO member_matchup ( 
			member_matchup_id,
			member_id, 
			matchup_id, 
			status, 
			created_at, 
			updated_at 
		) VALUES (
			SEQ_MEMBER_MATCHUP_ID.NEXTVAL, 
			#{memberId}, 
			#{matchupId}, 
			'ACTIVE',
			SYSDATE, 
			SYSDATE 
		) 
	</insert>
	
	<!-- 이미 해당 매치업에 가입했는지에 대한 여부 -->
	<select id="checkIfAlreadyApplied" parameterType="map" resultType="int"> 
		SELECT COUNT(*) 
		FROM member_matchup 
		WHERE member_id = #{memberId} 
		AND matchup_id = #{matchupId} 
		AND status = 'ACTIVE'
	</select>
	
	<!-- 매치업 비활성화 -->
	<update id="inactivateMemberMatchupById" parameterType="int"> 
		UPDATE
			MEMBER_MATCHUP 
		SET status = 'INACTIVE' 
		WHERE MATCHUP_ID = #{matchupId}
	</update>

	<!-- 참여중인 매치업 팀원 목록 보기 -->
	<select id="findMembersByMatchupId" parameterType="int" resultType="com.shinhan.memento.dto.MatchupMemberDTO">
	    SELECT
	        m.member_id         AS memberId,
	        m.nickname,
	        m.profile_image_url AS profileImageUrl
	    FROM
	        member_matchup mm
	    JOIN
	        member m ON mm.member_id = m.member_id
	    WHERE
	        mm.matchup_id = #{matchupId}
	        AND mm.status = 'ACTIVE'
	</select>
	
	<!-- 매치업 참여 취소 -->
	<update id="cancelJoinMatchupBy2id">
		update 
		member_matchup 
		set status = 'DELETE'
		where member_id = #{memberId}
		and matchup_id = #{matchupId}
		and status != 'DELETE'
	</update>
</mapper>