<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.shinhan.memento.mapper.MemberMentosMapper">
 
 	<insert id="joinMentos" parameterType="com.shinhan.memento.dto.JoinMentosDTO">
 		insert into member_mentos(member_mentos_id, mentos_id, member_id, is_compeleted, created_at, updated_at, status)
 		values(seq_member_mentos_id.nextval, #{mentosId}, #{memberId}, 0, sysdate, null, 'ACTIVE')
 	</insert>
 
 </mapper>