<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinhan.memento.mapper.MemberMapper">
	<resultMap id="memberResultMap"
		type="com.shinhan.memento.model.Member">
		<id property="memberId" column="member_id" />
		<result property="matchTypeId" column="match_type_id" />
		<result property="profileImg" column="profile_image_url" />
		<result property="email" column="email" />
		<result property="nickname" column="nickname" />
		<result property="phoneNumber" column="phone_number" />
		<result property="userType" column="user_type" />
		<result property="point" column="point" />
		<result property="introduceMento" column="introduce_mento" />
		<result property="score" column="score" />
		<result property="regionGroup" column="region_group" />
		<result property="regionSubgroup" column="region_subgroup" />
		<result property="regionDetail" column="region_detail" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
		<result property="status" column="status" />
	</resultMap>

	<select id="findMemberById" parameterType="int"
		resultMap="memberResultMap">
		select *
		from member
		where member_id=#{memberId}
		and
		status='ACTIVE'
	</select>

	<select id="findMemberByIdAndUserType" parameterType="Map"
		resultMap="memberResultMap">
		select *
		from member
		where member_id=#{memberId}
		and user_type!= 'AFFILIATES'
		and status='ACTIVE'
	</select>
</mapper>