<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinhan.memento.mapper.MemberMentosMapper">

	<resultMap id="MemberMentosResultMap"
		type="com.shinhan.memento.model.MemberMentos">
		<id property="memberMentosId" column="member_mentos_id" />
		<result property="mentosId" column="mentos_id" />
		<result property="memberId" column="member_id" />
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
		<result property="status" column="status" />
	</resultMap>

		<insert id="joinMentos"
			parameterType="com.shinhan.memento.dto.mentos.JoinMentosDTO">
			insert into member_mentos(member_mentos_id, mentos_id, member_id,
			is_compeleted, created_at, updated_at, status)
			values(seq_member_mentos_id.nextval, #{mentosId}, #{memberId}, 0,
			sysdate, null, 'ACTIVE')
		</insert>

		<select id="findMemberMentosById"
			parameterType="com.shinhan.memento.dto.mentos.JoinMentosDTO"
			resultMap="MemberMentosResultMap">
			select *
			from member_mentos
			where mentos_id=#{mentosId}
			and member_id=#{memberId}
			and status='ACTIVE'
		</select>

		<update id="cancelJoinMentos" parameterType="int">
			update member_mentos
			set status='DELETE', updated_at=sysdate
			where member_mentos_id=#{memberMentosId} and status='ACTIVE'
		</update>

</mapper>
