<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinhan.memento.mapper.MypageMapper">
	<insert id="insertPayment"
		parameterType="com.shinhan.memento.model.Payment">
		INSERT INTO payment (
		payment_id, member_id, order_id, pay_at, amount, pay_type, step, matchup_id,
		mentos_id, keepgoing_id, status
		) VALUES (
		seq_payment_id.nextval,
		#{memberId},
		#{orderId},
		#{payAt, jdbcType=DATE},
		#{amount},
		#{payType},
		#{step},
		#{matchupId},
		#{mentosId},
		#{keepgoingId},
		#{status}
		)
	</insert>

	<select id="selectPaymentByOrderId" parameterType="string"
		resultType="com.shinhan.memento.model.Payment">
		SELECT
		payment_id AS paymentId,
		member_id AS memberId,
		order_id AS orderId,
		pay_at AS payAt,
		amount,
		pay_type AS payType,
		step,
		matchup_id AS matchupId,
		mentos_id AS mentosId,
		keepgoing_id AS keepgoingId,
		status
		FROM payment
		WHERE order_id = #{orderId}
	</select>

	<update id="updatePaymentSuccess" parameterType="map">
		UPDATE payment
		SET step = 'SUCCESS', pay_at = #{payAt}, amount= #{cash}
		WHERE order_id = #{orderId}
	</update>

	<update id="updateUserBalance" parameterType="map">
		UPDATE userbalance
		SET balance = balance + #{amount}, updated_at = #{updatedAt}
		WHERE member_id = #{userId}
	</update>
	
	<resultMap id="myMatchupResultMap" type="myMatchupListDTO">
        <result property="matchupId"       column="matchup_id"/>
        <result property="leaderImg"       column="leader_img"/>
        <result property="matchupTitle"    column="matchup_title"/>
        <result property="regionSubgroup"  column="region_subgroup"/>
        <result property="category"        column="category"/>
        <result property="language"        column="language"/>
        <result property="startTime"       column="start_time"/>
        <result property="endTime"         column="end_time"/>
        <result property="selectedDays"    column="selected_days"/>
        <result property="hasMento"        column="has_mento"/>
        <result property="mentoNickname"   column="mento_nickname"/>
        <result property="count"           column="count"/>
        <result property="matchupCount"    column="matchup_count"/>
        <result property="role"            column="role"/>
        <result property="status"          column="status"/>
    </resultMap>
	
	<select id="selectMyMatchUpList" parameterType="int" resultMap="myMatchupResultMap">
		select
			mm.matchup_id as matchup_id, 
			leader.PROFILE_IMAGE_URL as leader_img, 
			m.title as matchup_title, 
			m.region_subgroup as region_subgroup,
			cat.category_name as category,
			lan.language_name as language, 	
			m.start_time as start_time, 		
			m.end_time as end_time,
			m.selected_days as selected_days, 
			m.has_mento as has_mento,
			mento.nickname as mento_nickname,
			m.count as count, 
			m.matchup_count as matchup_count,
			CASE WHEN m.leader_id = mm.member_id THEN '팀장'ELSE '팀원'END AS role,
			m.status as status
		from member_matchup mm
			join matchup m on mm.matchup_id = m.matchup_id
			left join category cat on m.category_id = cat.category_id
			left join language lan on m.language_id = lan.language_id
			left join member leader on m.leader_id = leader.member_id
			left join member mento on m.mento_id = mento.member_id
		where mm.member_id = #{memberId} and m.status != 'delete'
	</select>
	
	<select id="selectMyMentosListById" parameterType="int" resultType="map">
		select 
		mm.mentos_id AS mentosId,
		m.image AS mentosImg,
		m.title AS mentosTitle,
		m.region_subgroup AS regionSubgroup,
		m.start_time AS startTime,
		m.end_time AS endTime,
		m.selected_days AS selectedDays,
		mem.nickname AS mentoNickname,
		mem.user_type AS mentoUserType,
		m.status AS status,
		r.review_id as reviewId,
		r.status AS reviewStatus
		from member_mentos mm
		join mentos m on mm.mentos_id = m.mentos_id
		left join member mem on m.mento_id = mem.member_id
		left join review r on mm.mentos_id = r.mentos_id
		where mm.member_id = #{memberId}
		and m.status != 'delete'
		and mm.status != 'delete'
	</select>

	<select id="selectMyPaymentListById" parameterType="int" resultType="map">
	select 
	p.order_id as orderId,
	p.amount as amount,
	p.matchup_id as matchupId,
	p.mentos_id as mentosId,
	p.keepgoing_id as keepgoingId,
	p.status as paymentStatus,
	match.title as matchupTitle,
	mentos.title as mentosTitle,
	keep.name as keepgoingName
	from payment p
	LEFT JOIN matchup match ON p.matchup_id = match.matchup_id
	LEFT JOIN mentos mentos ON p.mentos_id = mentos.mentos_id
	LEFT JOIN keepgoing keep ON p.keepgoing_id = keep.keepgoing_id
	where p.member_id = #{memberId}
	and p.status != 'delete'
	</select>
	
	<select id="selectPaymentDetail" parameterType ="String" resultType="map">
		select
		p.order_id as orderId,
		p.amount as amount amount,
		p.matchup_id as matchupId,
		match.title as matchupTitle,
		match.price as matchupPrice,
		m.profile_image_url as memberProfileImageUrl,
		p.mentos_id as mentosId,
		mentos.title as mentosTitle,
		mentos.image as mentosImage,
		mentos.price as mentosPrice,
		p.keepgoing_id as keepgoingId,
		keep.name as keepgoingName,
		keep.IMG_LOGO as keepgoingImgLogo,
		keep.price as keepgoingPrice,
		p.pay_at as payAt,
		p.pay_type as payType,
		p.status as status
		from payment p
		left join matchup match on p.matchup_id = match.matchup_id
		left join member m on match.leader_id = m.member_id
		left join mentos mentos on p.mentos_id = mentos.mentos_id
		left join keepgoing keep on p.keepgoing_id = keep.keepgoing_id
		where p.order_id = #{orderId}
		and p.status != 'delete'
	</select>

</mapper>