<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinhan.memento.mapper.PopularMentiMapper">
	
  <resultMap id="popularMentiMap" type="com.shinhan.memento.dto.PopularMentiDTO">
  	  <result property="memberId" column="memberId"/>
	  <result property="nickname" column="nickname"/>
	  <result property="profileImage" column="profileImage" javaType="String"/>
	  <result property="score" column="score"/>
  </resultMap>
  	
	
	<select id="findPopularMenti" resultMap="popularMentiMap">
	  <![CDATA[
	  SELECT * FROM (
	    SELECT member_id AS memberId,
	           nickname,
	           profile_image_url AS profileImage,
	           score
	    FROM member
	    WHERE user_type IN ('MENTI', 'AFFILIATES', 'PREMENTO')
	    ORDER BY score DESC
	  )
	  WHERE ROWNUM <= 7
	  ]]>
	</select>

</mapper>