<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinhan.memento.mapper.PopularMentoMapper">

<select id="findPopularMentors" resultType="com.shinhan.memento.dto.PopularMentorDTO">
  <![CDATA[
    SELECT *
    FROM (
      SELECT m.member_id AS memberId,
             m.nickname,
             m.profile_image_url AS profileImage,
             ROUND(AVG(r.score), 1) AS score
      FROM member m
      JOIN review r ON m.member_id = r.mento_id
      WHERE m.user_type = 'MENTO' AND r.status = 'ACTIVE'
      GROUP BY m.member_id, m.nickname, m.profile_image_url
      ORDER BY score DESC
    ) sub
    WHERE ROWNUM <= 7
  ]]>
</select>


</mapper>
