<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.shinhan.memento.dao.MentosDAO">

	<resultMap id="mentosDetailMap" type="com.shinhan.memento.dto.DetailMentosDTO">
		<result property="mentosId" column="mentos_id" />
		<result property="title" column="title" />
		<result property="simpleContent" column="simple_content" />
		<result property="image" column="image" />
		<result property="minMember" column="min_member" />
		<result property="maxMember" column="max_member" />
		<result property="startDay" column="start_day" />
		<result property="endDay" column="end_day" />
		<result property="startTime" column="start_time" />
		<result property="endTime" column="end_time" />
		<result property="selectedDays" column="selected_days" />
		<result property="price" column="price" />
		<result property="times" column="times" />
		<result property="categoryId" column="category_id" />
		<result property="languageId" column="language_id" />
		<result property="regionGroup" column="region_group" />
		<result property="regionSubgroup" column="region_subgroup" />
		<result property="regionDetail" column="region_detail" />
		<result property="content" column="content" />
		<result property="matchTypeIdFirst"
			column="match_type_id_first" />
		<result property="matchTypeIdSecond"
			column="match_type_id_second" />
		<result property="matchTypeIdThird"
			column="match_type_id_third" />
		<result property="mentoId" column="mento_id" />
		<!-- matchTypeId와 userType은 이 쿼리에서 조회되지 않으므로 생략 -->
		<!-- avgScore는 서비스 단에서 계산 후 주입됨 -->
	</resultMap>

	<select id="selectMentosDetail" parameterType="int"
		resultMap="mentosDetailMap">
		SELECT * FROM mentos WHERE mentos_id = #{mentosId}
	</select>


	<insert id="insertMentos"
		parameterType="com.shinhan.memento.dto.CreateMentosDTO">
		INSERT INTO mentos (
		mentos_id,
		category_id,
		language_id,
		mento_id,
		title,
		simple_content,
		image,
		price,
		region_group,
		region_subgroup,
		region_detail,
		start_day,
		end_day,
		start_time,
		end_time,
		times,
		min_member,
		max_member,
		selected_days,
		content,
		created_at,
		updated_at,
		status,
		match_type_id_first,
		match_type_id_second,
		match_type_id_third
		) VALUES (
		seq_mentos_id.nextval,
		#{categoryId},
		#{languageId},
		#{mentoId},
		#{title},
		#{simpleContent},
		#{image},
		#{price},
		#{regionGroup},
		#{regionSubgroup},
		#{regionDetail},
		#{startDay},
		#{endDay},
		#{startTime},
		#{endTime},
		#{times},
		#{minMember},
		#{maxMember},
		#{selectedDays},
		#{content},
		CURRENT_DATE,
		null,
		'ACTIVE',
		#{matchTypeIdFirst},
		#{matchTypeIdSecond},
		#{matchTypeIdThird}
		)
	</insert>

	<update id="updateMentos"
		parameterType="com.shinhan.memento.dto.EditMentosDTO">
		UPDATE mentos
		SET
		title = #{title},
		simple_content =
		#{simpleContent},
		image = #{image},
		mento_id = #{mentoId},
		min_member =
		#{minMember},
		max_member = #{maxMember},
		start_day = #{startDay},
		end_day = #{endDay},
		start_time = #{startTime},
		end_time = #{endTime},
		selected_days = #{selectedDays},
		price = #{price},
		times = #{times},
		category_id = #{categoryId},
		language_id = #{languageId},
		region_group =
		#{regionGroup},
		region_subgroup = #{regionSubgroup},
		region_detail =
		#{regionDetail},
		content = #{content},
		match_type_id_first =
		#{matchTypeIdFirst},
		match_type_id_second = #{matchTypeIdSecond},
		match_type_id_third = #{matchTypeIdThird}

		WHERE mentos_id = #{mentosId}
	</update>

	<update id="deleteMentos" parameterType="int">
		UPDATE mentos
		SET status
		= 'INACTIVE',
		updated_at = CURRENT_DATE
		WHERE mentos_id = #{mentosId}
	</update>


</mapper>

