/* ==========================================================================
   Base & Layout Styles
   ========================================================================== */
body {
	font-family: 'Inter', sans-serif;
	background-color: #ffffff;
	color: #000000;
}

/* ==========================================================================
   My Mentors Section
   ========================================================================== */

.page-container .my-mentors{
	padding:40px;
}

.my-mentors h2 {
	color: #666666;
	font-family: 'D2Coding';
	font-weight: 700;
	text-align: center;
	margin-bottom:3vh;
}
.my-mentors .mentos-list{
	display:flex;
	max-width:1100px;
	flex-direction:column;
	justify-content: center;
	gap: 3vh;
}

.mentos-card{
	display:flex;
	border:1px solid black;
	padding:10px;
	border-radius:10px;
}

.mentos-card .img-border{
	display:flex;
}
.mentos-card .img-border img{
	width: 10vw;
    aspect-ratio: 16 / 9;
}

.mentos-card .mentos-card-body {
	display:flex;
	flex-direction: column;
}




/* modal 관련 */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  width: 360px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal-content label {
  font-weight: 600;
  font-size: 16px;
  color: #000;
}
.star {
  width: 30px;
  cursor: pointer;
}

.line-53 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
