<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinhan.memento.dao.MentosDAO">

	<insert id="insertMentos"
		parameterType="com.shinhan.memento.dto.CreateMentosDTO">
		INSERT INTO mentos (
			mentos_id,
			category_id, language_id, mento_id, title, simple_content, image, price,
			region_group, region_subgroup, region_detail,
			start_day, end_day, start_time, end_time,
			times, min_member, max_member, selected_days,
			content, created_at, updated_at, status,
			match_type_first, match_type_second, match_type_third
		) VALUES (
			seq_mentos_id.nextval,
			#{categoryId}, #{languageId}, #{mentoId}, #{title}, #{simpleContent}, #{image}, #{price},
			#{regionGroup}, #{regionSubgroup}, #{regionDetail},
			#{startDay}, #{endDay}, #{startTime}, #{endTime},
			#{times}, #{minMember}, #{maxMember}, #{selectedDays},
			#{content}, CURRENT_DATE, null, 'ACTIVE',
			#{matchTypeFirst}, #{matchTypeSecond}, #{matchTypeThird}
		)
	</insert>

</mapper>

