body {
	margin: 0;
	background-color: #f0faff;
}

.mento-desc-container {
 	zoom: 0.85;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 1046px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-image: initial;
    margin: 10px auto;
    gap: 32px;
}

/* 제목 */
.mento-desc-textbox {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-family: "D2Coding-Bold", sans-serif;
	font-size: 48px;
	font-weight: 700;
	color: #333;
	border-bottom: 2px solid #e0e0e0;
	padding-bottom: 8px;
	margin-bottom: 40px;
	position: relative;
	top: 200px;
}

.mento-highlight {
	color: #0066ff;
}

/* 설명 리스트 + 버튼 정렬 */
.mento-desc-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	position: relative;
	top : 200px;
}

/* 설명 리스트 */
.mento-desc-list {
	padding-left: 20px;
	font-size: 20px;
	line-height: 1.8;
	font-family: "Inter", sans-serif;
	font-weight: 500;
}

/* 버튼 */
.mento-desc-button-wrapper {
	display: flex;
	justify-content: center;
}

.mento-desc-button {
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 13px;
    background-color: #3182f6;
    color: #f9fafb;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 200px;
}

.mento-desc-button:hover {
	background-color: #2362b8;
}