@charset "UTF-8";

.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 1132px;
  position: relative;
  overflow: hidden;
}

.frame-3600 {
  background: #ffffff;
  /* padding: 16px 34px 16px 34px; */
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;;
  box-shadow: 0px 4px 4px 0px rgba(118, 115, 115, 0.25);
  overflow-x: auto;
}
.image-17 {
  flex-shrink: 0;
  width: 51.67px;
  height: 45.81px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 51.67/45.81;
}
.me-mento-2 {
  flex-shrink: 0;
  width: 144px;
  height: 19.73px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 144/19.73;
}
.frame-6 {
  padding: 10px 10px 0px 10px;
  flex-shrink: 0;
  width: 650px;
  height: 65px;
  position: relative;
}
.frame-5 {
  padding: 10px;
  width: 81px;
  height: 47px;
  position: absolute;
  left: 36px;
  top: 9px;
}
.div7 {
  color: #404042;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  font-weight: 600;
  position: absolute;
  left: 10px;
  top: 10px;
}
.frame-62 {
  padding: 10px;
  width: 81px;
  height: 47px;
  position: absolute;
  left: 161px;
  top: 9px;
}
.frame-7 {
  padding: 10px;
  width: 81px;
  height: 47px;
  position: absolute;
  left: 287px;
  top: 9px;
}
.frame-8 {
  padding: 10px;
  width: 81px;
  height: 47px;
  position: absolute;
  left: 413px; 
  top: 9px;
}
.frame-9 {
  padding: 10px;
  width: 81px;
  height: 47px;
  position: absolute;
  left: 539px; 
  top: 9px;
}
.rectangle-33 {
  border-radius: 6px;
  border-style: solid;
  border-color: #ced4da;
  border-width: 1px;
  flex-shrink: 0;
  width: 437px;
  height: 35px;
  position: relative;
  overflow: hidden;
}
.rectangle-332 {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.icon-search-01 {
  width: 4.35%;
  height: 62.5%;
  position: absolute;
  right: 1.83%;
  left: 93.82%;
  bottom: 18.75%;
  top: 18.75%;
}
.interface-search-magnifying-glass {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.div8 {
  color: #949494;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 202.5px);
  top: 50%;
  translate: 0 -50%;
  width: 240px;
  height: 16px;
}
.frame-11 {
  background: #ffffff;
  border-radius: 6px;
  border-style: solid;
  border-color: #ced4da;
  border-width: 1px;
  padding: 7px 15px 7px 15px;
  flex-shrink: 0;
  width: 78px;
  height: 25px;
  position: relative;
}
.div9 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: 30px;
  top: 8.5px;
}
.vuesax-linear-profile-circle {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
}
.profile-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.icon-alert-notification-bell-new {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: visible;
}
.vuesax-linear-profile-circle {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.profile-circle {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: visible;
}