.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 1028px;
  position: relative;
  overflow: hidden;
  margin-top: 150px;
}
.frame-3600 {
  background: #ffffff;
  padding: 16px 34px 16px 34px;
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 104px;
  position: absolute;
  left: 2px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(118, 115, 115, 0.25);
}
.image-17 {
  flex-shrink: 0;
  width: 51.67px;
  height: 45.81px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 51.67/45.81;
}
.me-mento-2 {
  flex-shrink: 0;
  width: 144px;
  height: 19.73px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 144/19.73;
}
.frame-6 {
  padding: 10px 0px 10px 10px;
  flex-shrink: 0;
  width: 423px;
  height: 65px;
  position: relative;
}
.frame-5 {
  padding: 10px;
  width: 81px;
  height: 47px;
  position: absolute;
  left: 36px;
  top: 9px;
}
.div7 {
  color: #404042;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  font-weight: 600;
  position: absolute;
  left: 10px;
  top: 10px;
}
.frame-62 {
  padding: 10px;
  width: 81px;
  height: 47px;
  position: absolute;
  left: 161px;
  top: 9px;
}
.frame-7 {
  padding: 10px;
  width: 81px;
  height: 47px;
  position: absolute;
  left: 287px;
  top: 9px;
}
.frame-8 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 59px;
  position: absolute;
  left: 448px;
  top: 3px;
}
.rectangle-33 {
  border-radius: 6px;
  border-style: solid;
  border-color: #ced4da;
  border-width: 1px;
  flex-shrink: 0;
  width: 437px;
  height: 35px;
  position: relative;
  overflow: hidden;
}
.rectangle-332 {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.icon-search-01 {
  width: 4.35%;
  height: 62.5%;
  position: absolute;
  right: 1.83%;
  left: 93.82%;
  bottom: 18.75%;
  top: 18.75%;
}
.interface-search-magnifying-glass {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.div8 {
  color: #949494;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 202.5px);
  top: 50%;
  translate: 0 -50%;
  width: 240px;
  height: 16px;
}
.frame-11 {
  background: #ffffff;
  border-radius: 6px;
  border-style: solid;
  border-color: #ced4da;
  border-width: 1px;
  padding: 7px 25px 7px 25px;
  flex-shrink: 0;
  width: 102px;
  height: 35px;
  position: relative;
}
.div9 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: 30px;
  top: 8.5px;
}
.vuesax-linear-profile-circle {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
}
.profile-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.icon-alert-notification-bell-new {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: visible;
}
.frame-3752 {
  width: 980px;
  height: 976px;
  position: absolute;
  left: 335px;
  top: 117px;
}
.rectangle-295 {
  background: #ffffff;
  border-radius: 10px;
  width: 980px;
  height: 918px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div10 {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 383px;
  top: 35px;
}
.frame-354 {
  background: #ffffff;
  border-radius: 15px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px;
  padding: 13px 16px 12px 20px;
  width: 900px;
  height: 112px;
  position: absolute;
  left: 50px;
  top: 100px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
._1 {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 25px;
  top: 65px;
}
._1-span {
  color: #668985;
  font-family: "Inter-SemiBold", sans-serif;
  font-weight: 600;
}
._1-span2 {
  color: #016fd1;
  font-family: "Inter-Regular", sans-serif;
}
._1-span3 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
}
.frame-352 {
  background: rgba(231, 231, 231, 0.42);
  border-radius: 10px;
  padding: 5px 9px 5px 9px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 204px;
  height: 34px;
  position: absolute;
  left: 16px;
  top: 16px;
}
._12345678 {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.frame-3522 {
  background: rgba(44, 176, 163, 0.33);
  border-radius: 10px;
  padding: 4px 18px 4px 18px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 34px;
  position: absolute;
  left: 227px;
  top: 16px;
}
.div11 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.frame-3606 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 303px;
  height: 87px;
  position: absolute;
  left: 581px;
  top: 13px;
}
.frame-3523 {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 142px;
  position: relative;
}
.div12 {
  color: rgba(0, 0, 0, 0.57);
  text-align: left;
  font-family: "D2Coding-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.div13 {
  color: rgba(0, 0, 0, 0.51);
  text-align: left;
  font-family: "D2Coding-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.line-41 {
  flex-shrink: 0;
  width: 142px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.div14 {
  color: rgba(0, 0, 0, 0.56);
  text-align: left;
  font-family: "D2Coding-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
._35-000 {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 96.5px;
  top: 0px;
  width: 54px;
  height: 19px;
}
._2-000 {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 105px;
  top: 30px;
  width: 44px;
  height: 19px;
}
._33-000 {
  color: #000000;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 96.5px;
  top: 72px;
  width: 55px;
  height: 19px;
}
.div15 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.frame-3601 {
  background: #ffffff;
  border-radius: 15px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px;
  padding: 13px 16px 12px 20px;
  width: 900px;
  height: 112px;
  position: absolute;
  left: 50px;
  top: 238px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.div16 {
  color: #49779f;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 25px;
  top: 65px;
}
.frame-3524 {
  background: rgba(141, 197, 246, 0.66);
  border-radius: 10px;
  padding: 4px 18px 4px 18px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 34px;
  position: absolute;
  left: 227px;
  top: 16px;
}
.line-412 {
  flex-shrink: 0;
  width: 142px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-3602 {
  background: #ffffff;
  border-radius: 15px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px;
  padding: 13px 16px 12px 20px;
  width: 900px;
  height: 112px;
  position: absolute;
  left: 50px;
  top: 376px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.div17 {
  color: #668985;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 25px;
  top: 65px;
}
.frame-3525 {
  background: rgba(202, 130, 85, 0.46);
  border-radius: 10px;
  padding: 4px 18px 4px 18px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 34px;
  position: absolute;
  left: 227px;
  top: 16px;
}
.line-413 {
  flex-shrink: 0;
  width: 142px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-3603 {
  background: #ffffff;
  border-radius: 15px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px;
  padding: 13px 16px 12px 20px;
  width: 900px;
  height: 112px;
  position: absolute;
  left: 50px;
  top: 518px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-3526 {
  background: #b4d9f9;
  border-radius: 10px;
  padding: 4px 18px 4px 18px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 34px;
  position: absolute;
  left: 227px;
  top: 16px;
}
.line-414 {
  flex-shrink: 0;
  width: 142px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-3604 {
  background: #ffffff;
  border-radius: 15px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px;
  padding: 13px 16px 12px 20px;
  width: 900px;
  height: 112px;
  position: absolute;
  left: 50px;
  top: 660px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.line-415 {
  flex-shrink: 0;
  width: 142px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-3605 {
  background: #ffffff;
  border-radius: 15px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px;
  padding: 13px 16px 12px 20px;
  width: 900px;
  height: 112px;
  position: absolute;
  left: 50px;
  top: 806px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.line-416 {
  flex-shrink: 0;
  width: 142px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.vuesax-linear-arrow-down {
  height: auto;
  position: absolute;
  left: 819px;
  top: 1061px;
  overflow: visible;
}
