/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  /* Effects */
}
/* Figma Color Variables of your File */
[data--mode="mode-1"] {
  /* mode-1 */
  --1: #00bba8;
  --2: #0070d1;
  --1: #a6abbd;
  --2: #414656;
  --3: #c73c60;
  --4: #ff7493;
}
