/* 헤더 컨테이너 */
.header {
  background: #ffffff;
  padding: 42px 20px 12px 34px;
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
  justify-content: flex-start;
  height: 120px;
  width: 100vw;
  position: sticky;
  top:-32px;
  left:0;
  z-index: 1000;
  box-shadow: 0px 4px 4px 0px rgba(118, 115, 115, 0.25);
  box-sizing: border-box;
  overflow-x:hidden;
}

/* 헤더 이미지 - 로고 */
.header__img--logo {
  position: relative;
  flex-shrink: 0;
  width: 51.67px;
  height: 45.81px;
  object-fit: cover;
  aspect-ratio: 51.67/45.81;
}

/* 헤더 이미지 - 타이틀 */
.header__img--title {
  position: relative;
  flex-shrink: 0;
  width: 144px;
  height: 19.73px;
  object-fit: cover;
  aspect-ratio: 144/19.73;
}

.header__img--logo:hover,
.header__img--title:hover{
	cursor: pointer;
}

/* 헤더 버튼 컨테이너 */
.header__section__button {
  position: relative;
  background-color: transparent;
  border : transparent;
  padding: 10px 0px 10px 10px;
  flex-shrink: 0;
  width: 423px;
  height: 65px;
}

/* 헤더 버튼 */
.header__button {
  position: absolute;
  background-color: transparent;
  border : transparent;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  font-weight: 600;
  width: 81px;
  height: 47px;
  left: 10px;
  top: 10px;
  cursor: pointer;
}

/* 헤더 버튼 호버 시 */
.header__button:hover{
	cursor: pointer;
	color: #016bc7;
}

/* 헤더 버튼 - 매치업 */
.header__button--matchup {
  left: 36px;
  top: 9px;
}

/* 헤더 버튼 - 멘토스 */
.header__button--mentos {
  left: 161px;
  top: 9px;
}

/* 헤더 버튼 - 킵고잉 */
.header__button--keepgoing {
  left: 287px;
  top: 9px;
}

/* 헤더 검색창 컨테이너 */
.headr__section__serchForm {
  position: relative;
  border-radius: 6px;
  border: 1px solid #ced4da;
  display: flex;      /* 내부 요소 정렬 */
  align-items: center;
  box-sizing: border-box;
}

/* 헤더 검색 창 */
.header__searchform {
  position: relative;
  border-radius: 8px;
}

/* 헤더 버튼 - 검색 */
.header__button--search {
  position: absolute;
  background-color: transparent;
  border: transparent;
}

/* 헤더 검색 창 - 글자 */
.header__searchform--input {
  position: absolute;
  color: #949494;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  border-radius : 8px;
  border : 1px solid #ced4da;
  left: 30vw;
  top: 50%;
  translate: 0 -50%;
  width: 423px;       
  height: 47px;       
  padding-left: 30px;
}

/* 헤더 로그인 박스 */
.header__section__loginbox {
  background: #ffffff;
  border-radius: 6px;
  border-style: solid;
  border-color: #ced4da;
  border-width: 1px;
  padding: 7px 25px 7px 25px;
  flex-shrink: 0;
  width: 102px;
  height: 35px;
  position: absolute;
  left: 85vw;
}

/* 헤더 버튼 - 로그인 */
.header__button--login {
  background-color : transparent;
  border : transparent;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: 30px;
  top: 8.5px;
}

.header__button--login:hover,
.header__section__loginbox:hover{
	background:#E7E4E4;
	cursor:pointer;
}

.header__section__profile {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
}
.header__button--profile {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 1300px;
  bottom: 0%;
  top: 0%;
}

/* 헤더 버튼 - 알람 */
.header__button--alarm {
  flex-shrink: 0;
  height: 25px;
  position: absolute;
  left:2000px;
}


