html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 모달 전체 배경 */
.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* 배경 어둡게 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* 모달 박스 */
.rectangle-174 {
  width: 360px;
  height: 432px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

/* 닫기 버튼 */
.icon-menu-06 {
  all: unset;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.menu-close-md {
  width: 100%;
  height: 100%;
}

/* 로고 이미지 */
.image-19 {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 45px;
  object-fit: cover;
}
.me-mento-2 {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  height: 22px;
  object-fit: cover;
}

/* 텍스트 */
.me-mento {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    font-size: 20px;
    text-align: center;
    font-family: "Inter", sans-serif;
}
.me-mento-span { color: #00b39e; font-weight: 600; }
.me-mento-span2 { color: #016bc7; font-weight: 600; }
.me-mento-span3 { color: #000000; font-weight: 500; }

/* 버튼 영역 */
.button-image {
  position: absolute;
  top: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.div2 {
  all: unset;
  border-radius: 10px;
  cursor: pointer;
  margin-left :35px;
}
.div2 img {
    width: 80%;
    height: 13%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 320px;
}
