<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinhan.memento.dao.MatchUpDAO">

  <select id="selectAll" resultType="com.shinhan.memento.dto.MatchUpDTO">
    select * from matchup
    <where>
      <if test="region_group != null and region_group != ''">
        AND region_group = #{region_group}
      </if>
      <if test="category_id != null">
        AND category_id = #{category_id}
      </if>
      <if test="selected_days != null and selected_days != ''">
        AND selected_days LIKE '%' || #{selected_days} || '%'
      </if>
      <if test="language_id != null">
        AND language_id = #{language_id}
      </if>
    </where>
    order by start_day
  </select>

  <select id="getActiveMemberCount" parameterType="int" resultType="int">
    select count(*)
      from member_matchup
     where status = 'ACTIVE'
       and matchup_id = #{matchupId}
  </select>
  
    <select id="selectByMatchupId" parameterType="int" resultType="com.shinhan.memento.dto.MatchUpDTO">
    select * from matchup
     where matchup_id = #{matchupId}
  </select>

</mapper>